<launch>

  <!-- This is how to launch a launch file from inside another launch file -->
  <include file="$(find exercise6)/launch/dummy.launch"></include>

  <param name="/turtlebot_node/odom_angular_scale_correction" value="1.0" />

  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="true" />
    <arg name="depth_registration" value="true" />
    <arg name="depth_processing" value="true" />

    <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
         Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 -->
    <arg name="scan_topic" value="/scan" />
  </include>

</launch>

