<launch>

  <arg name="display_camera_window" default="false"/>

  <node pkg="exercise4" type="face_finder" name="face_finder" output="screen">
    <param name="display_camera_window" type="bool" value="$(arg display_camera_window)" />
    <param name="camera_focal_length" type="int" value="554" />

    <!-- At least how many frames the face should be detected to be considered good match -->
    <param name="face_detection_frame_threshold" type="int" value="2" />

    <!-- How far the face has to be to some previous face to be considered the same (in meters) -->
    <param name="face_detection_distance_threshold" type="double" value="1" />

    <!-- The path to the haarcascade_face.xml used in HaarDetector -->
    <param name="haar_cascade_data_file_path" type="string" value="$(find exercise4)/scripts/detectors/data/haarcascade_face.xml" />
  </node>

</launch>
