<launch>

  <arg name="display_camera_window" default="false"/>
  <arg name="rotate_image" default="false"/>
  <arg name="detector" default="1"/>
  <arg name="downscale" default="4"/>
  <arg name="bw" default="true"/>
  <arg name="frames" default="0"/>

  <node pkg="homework1" type="face_detector.py" name="face_detector" output="screen">
    <param name="display_camera_window" type="bool" value="$(arg display_camera_window)" />

    <!-- Whether the image should be rotated by 90 degrees or not -->
    <param name="rotate_image" type="bool" value="$(arg rotate_image)" />

    <!-- The path to the haarcascade_face.xml used in HaarDetector -->
    <param name="haar_cascade_data_file_path" type="string" value="$(find homework1)/scripts/detectors/data/haarcascade_face.xml" />
    <param name="cnn_face_detector_data_file_path" type="string" value="$(find homework1)/scripts/detectors/data/mmod_human_face_detector.dat" />

    <!-- Specify which detector to use -->
    <!-- 1 = dlib -->
    <!-- 2 = haar -->
    <!-- 3 = hog -->
    <param name="use_detector" type="int" value="$(arg detector)"/>

    <!--Determine the factor by which the image will shrink before processing.-->
    <!-- 1 = no change in size -->
    <!-- 2 = image will be half the original size -->
    <!-- 3 = image will be third the original size -->
    <!-- etc -->
    <param name="downscale_factor" type="int" value="$(arg downscale)"/>

    <!-- Wether the image should be turned from rgb to black an dwhite before processing-->
    <!-- true = black and white image -->
    <!-- false = rgb image -->
    <param name="black_and_white" type="bool" value="$(arg bw)"/>

    <!-- Number of frames in the input video -->
    <param name="total_frames" type="int" value="$(arg frames)"/>
  </node>

</launch>
