<launch>

  <node pkg="love_maker" type="movement_controller.py" name="movement_controller" output="screen">
  </node>

  <!-- We need to run the sound_play node in order to be able to synthesise text -->
  <!-- <node pkg="sound_play" type="soundplay_node.py" name="sound_play" output="screen">
  </node> -->

</launch>
