<launch>

    <arg name="display_camera_window" default="false"/>
    <arg name="downscale" default="2"/>
    <arg name="gazebo_gui" default="true"/>

    <arg name="raw_face_markers" default="true"/>
    <arg name="raw_cylinder_markers" default="true"/>
    <arg name="raw_ring_markers" default="true"/>

    <!-- Include the gazebo simulator -->
    <include file="$(find love_maker_2000)/launch/includes/rins_world.launch">
        <!-- Set the world file for the gazebo simulator -->
        <arg name="world_file"  value="$(find love_maker_2000)/worlds/rins_task2.world"/>
        <arg name="gui" value="$(arg gazebo_gui)"/>
        <!-- another world -->
        <!-- <arg name="world_file"  value="$(find exercise3_quar)/worlds/rins.world"/> -->
    </include>

    <!-- Include the amcl simulator -->
    <include file="$(find love_maker_2000)/launch/includes/amcl_simulation.launch">
        <!-- Set the map file for the acml simulation -->
        <arg name="map_file" value="$(find love_maker_2000)/maps/task2_map.yaml"/>
        
        <!-- Set the robot initial pose -->

	    <!-- For my_map set this coordinates -->
        <!--<arg name="initial_pose_x" value="-0.163281708956"/>-->
        <!--<arg name="initial_pose_y" value="-3.25395488739"/>-->
        <!--<arg name="initial_pose_a" value="0.679"/>-->
	
	    <!-- for my_map1 set this coordinates -->
	    <arg name="initial_pose_x" value="0.00000"/>
        <arg name="initial_pose_y" value="0.00000"/>
        <arg name="initial_pose_a" value="0.000"/>
    </include>

    <!-- Include the RVIZ visualization tool -->
    <!-- <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"></include> -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find love_maker_2000)/launch/includes/rviz_config.rviz"/>

    <!-- Launch the localizer service -->
    <include file="$(find localizer)/launch/localizer_node_simulation.launch"></include>

    <include file="$(find love_maker)/launch/face_detector.launch">
        <arg name="display_camera_window" value="$(arg display_camera_window)" />
        <arg name="haar_cascade_data_file_path" value="$(find love_maker)/scripts/detectors/data/haarcascade_face.xml" />
        <arg name="downscale_factor" value="$(arg downscale)"/>
    </include>
    
    <include file="$(find love_maker)/launch/face_mapper.launch"/>
    <include file="$(find love_maker_2000)/launch/ring_approaching_point_calculator.launch"/>
    <include file="$(find love_maker_2000)/launch/cylinder_approaching_point_calculator.launch"/>

    <include file="$(find love_maker)/launch/face_robustifier.launch">
        <arg name="raw_face_markers" value="$(arg raw_face_markers)"/>
    </include>

    <include file="$(find love_maker_2000)/launch/cylinder_robustifier.launch">
        <arg name="raw_cylinder_markers" value="$(arg raw_cylinder_markers)"/>
    </include>

    <include file="$(find love_maker_2000)/launch/torus_robustifier.launch">
        <arg name="raw_ring_markers" value="$(arg raw_ring_markers)"/>
    </include>

    <include file="$(find love_maker_2000)/launch/movement_controller.launch"/>

    <!-- We need to run the sound_play node in order to be able to synthesise text -->
    <node pkg="sound_play" type="soundplay_node.py" name="sound_play" output="screen">
    </node>

    <!-- Run the color classification service -->
    <include file="$(find color_classification)/launch/color_classifier.launch"/>

</launch>
