<!-- Template from: https://github.com/MatthewVerbryke/inmoov-ros -->

<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find turtlebot_arm_control)/config/turtlebot_arm_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/turtlebot_arm" args=" joint_state_controller
			arm_controller
      "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="arm_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/turtlebot_arm/joint_states" />
  </node>

</launch>
